
.osmb-container {
}

.osmb-attribution {
    position:absolute;
    right:0;
    bottom:0;
    padding:1px 3px;
    background:rgba(255,255,255,0.5);
    font:11px sans-serif;
}

.osmb-attribution a {
    text-decoration:none;
    color:#f08000;
}

.osmb-attribution a:visited {
    text-decoration:none;
    color:#f08000;
}

.osmb-attribution a:hover {
    text-decoration:underline;
    color:#f08000;
}
