.DS_Store
.idea
_scratch
node_modules
test/data
dist/OSMBuildings/*
dist/OSMBuildings*

src/Shaders.min.js
lib/GLX.debug.js

build/temp

# backup files
*~

# JavaScript source maps
*.js.map 

# Docs
out
